.App {
  display: flex;
  justify-content: center;
  text-align: center;

}


.body {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.body input {
  width: 100%;
  margin-top: 50px;
}

.container{
  display: flex;
  justify-content: center;
}

.container img {
  size: 1px;
  max-width: 100%;
  min-width: 80%;
}

